<!doctype html>
<html lang="en" data-framework="angularjs" ng-app="vendingMachine">
	<head>
		<meta charset="utf-8">
		<title>Vending Machine</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body ng-controller="VendingMachineCtrl">

    <h1>{{display}}</h1>
    <h3>{{credit}}</h3>

    <button ng-click="addCredits({size: 24.26, weight: 5.670, name: 'quarter'})">Add Quarter</button>
    <button ng-click="addCredits({size: 21.21, weight: 5.000, name: 'nickel'})">Add Nickel</button>
    <button ng-click="addCredits({size: 17.91, weight: 2.268, name: 'dime'})">Add Dime</button>

    <button ng-click="addCredits({size: 19, weight: 3, name: 'sketchy coin'})">Add sketchy coin</button>
    <br>
    <button ng-click="checkDisplay()">check display</button>
    <button ng-click="checkDisplay('wat')">check display wat</button>

    <br>
    <button ng-click="selectItem('cola')">Select Cola</button>
    <button ng-click="selectItem('candy')">Select Candy</button>
    <button ng-click="selectItem('chips')">Select Chips</button>

    <br>
    <button ng-click="refund()">Refund</button>

    <br>
    <h5>coin return</h5>
    <p>{{coinReturn}}</p>
    <button ng-click="takeChange()">Take Change</button>

    <br>
    <h5>item slot</h5>
    <p>{{vendSlot}}</p>
    <button ng-click="takeItem()">Take Item</button>

    <br>
    <p>inserted quarters: {{insertedCoins.quarters.length}}</p>
    <p>inserted dimes: {{insertedCoins.dimes.length}}</p>
    <p>inserted nickels: {{insertedCoins.nickels.length}}</p>
    <br>
    <p>inventory quarters: {{coinInventory.quarters.length}}</p>
    <p>inventory dimes: {{coinInventory.dimes.length}}</p>
    <p>inventory nickels: {{coinInventory.nickels.length}}</p>

		<script src="node_modules/angular/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/vendingMachineCtrl.js"></script>
	</body>
</html>
